@font-face {
  font-family: SSStandard;
  src: url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1692/ss-standard.eot?v=1471422387000");
  src: url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1692/ss-standard.eot?v=1471422387000#iefix") format("embedded-opentype"), url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1692/ss-standard.woff?v=1471422396000") format("woff"), url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1692/ss-standard.ttf?v=1471422393000") format("truetype"), url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1692/ss-standard.svg?v=1471422390000") format("svg");
  font-weight: 400;
  font-style: normal;
}

.sans,
.serif {
  font-weight: 400;
  font-style: normal;
}

.sans,
.sansb,
.serif {
  font-style: normal;
}

fieldset,
hr,
img,
legend {
  border: 0;
}

fieldset,
hr,
legend,
nav ol,
nav ul,
ol,
ul {
  padding: 0;
}

.hidden,
.invisible {
  visibility: hidden;
}

a:active,
a:focus,
a:hover {
  color: #191919;
  outline: 0;
}

h1,
pre {
  word-wrap: break-word;
}

a,
a:link,
a:visited {
  color: #ef662f;
  text-decoration: none;
}

a,
a:link,
a:visited,
h1,
h2,
ins {
  text-decoration: none;
}

h3,
h4 {
  text-transform: none;
}

legend {
  text-transform: uppercase;
}

.clearfix,
.panels,
div[id^="Marketing_permission"] .eaQuestionRadioFormFieldContainer {
  zoom: 1;
}

#footer:after,
#header:after,
#main:after,
.clearfix:after,
.ea-clear,
.panels:after,
div[id^="Marketing_permission"] .eaQuestionRadioFormFieldContainer:after {
  clear: both;
}

.serif {
  font-family: Georgia, Times, "Times New Roman", serif;
}

.sans,
.sansb,
.sansi,
body,
button,
code,
input,
kbd,
pre,
samp,
select,
textarea {
  font-family: DSariMedium, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sansb {
  font-weight: 800;
}

.sansi,
dfn,
mark {
  font-style: italic;
}

.sansi {
  font-weight: 400;
}

b,
mark,
strong {
  font-weight: 700;
}

.small {
  font-size: 0.8rem;
  line-height: 1.3125em;
  margin-bottom: 1.8125em;
}

.big,
h2 {
  line-height: 1.43333333em;
}

.big {
  font-size: 1.5rem;
  margin-bottom: 0.96666667em;
}

.element-invisible {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}

.text-center {
  text-align: center;
}

.grid-center {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 780px) {
  .hide-on-mobile {
    display: none !important;
  }
}

@media screen and (min-width: 780px) {
  .hide-on-desktop {
    display: none !important;
  }
}

#page.action .hide-on-actions,
[hidden],
audio:not([controls]) {
  display: none;
}

.hide-on-actions {
  opacity: 0;
  -webkit-animation: 0.3s linear 1s forwards fadeIn;
  animation: 0.3s linear 1s forwards fadeIn;
}

#page.not-action .hide-on-actions {
  -webkit-animation: none;
  animation: none;
  opacity: 1;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
}

blockquote,
hr,
ol,
ul {
  margin: 1.45rem 0;
}

ins,
mark {
  background: #fff;
  color: #191919;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

.ir,
hr {
  display: block;
}

html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body,
button,
input,
select,
textarea {
  color: #191919;
}

abbr[title] {
  border-bottom: 1px dotted;
}

a:focus,
a:hover,
body,
h1 {
  font-weight: 400;
}

code,
kbd,
pre,
samp {
  font-size: 100%;
}

small,
sub,
sup {
  font-size: 0.8rem;
  margin-bottom: 1.8125em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
}

q {
  quotes: none;
}

q:after,
q:before {
  content: "";
  content: none;
}

small {
  line-height: 1.3125em;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dd,
figure,
form {
  margin: 0;
}

nav ol,
nav ul {
  list-style: none;
  margin: 0;
}

img {
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  margin: 0;
}

label {
  cursor: pointer;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

td,
textarea {
  vertical-align: top;
}

button,
input {
  line-height: normal;
}

button,
button:focus,
button:hover,
input[type="button"],
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"],
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"],
input[type="submit"]:focus,
input[type="submit"]:hover {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

.ir,
.visuallyhidden {
  border: 0;
  overflow: hidden;
}

input:invalid,
textarea:invalid {
  background-color: #fff;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td {
  padding: 5px;
}

.ir {
  text-indent: -999em;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

.one-of-two,
h1 {
  text-align: center;
}

.ir br {
  display: none;
}

.hidden {
  display: none !important;
}

.visuallyhidden {
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}

#skip-link,
.ahem,
.js .js-hidden {
  display: none;
}

#page {
  width: 100%;
  margin: 0;
  overflow: hidden;
}

#footer,
#header,
#main {
  clear: both;
  overflow: visible;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  zoom: 1;
}

#footer:after,
#footer:before,
#header:after,
#header:before,
#main:after,
#main:before {
  content: "";
  display: table;
}

#header,
#main {
  width: 98%;
  max-width: 1050px;
}

#footer {
  width: 86.6%;
  max-width: 40rem;
}

.eaLeftColumnContent,
.eaRightColumnContent {
  width: 88%;
  max-width: 37.5rem;
  margin-left: auto;
  margin-right: auto;
}

.eaLeftColumnContent .video,
.eaLeftColumnContent img:not(.inline):not(.ui-datepicker-trigger),
.eaLeftColumnContent video,
.eaRightColumnContent .video,
.eaRightColumnContent img:not(.inline):not(.ui-datepicker-trigger),
.eaRightColumnContent video {
  display: block;
  width: 28rem;
  max-width: 113.64%;
  margin-left: -6.82%;
}

@media screen and (min-width: 560px) {
  .eaLeftColumnContent .video,
  .eaLeftColumnContent img:not(.inline):not(.ui-datepicker-trigger),
  .eaLeftColumnContent video,
  .eaRightColumnContent .video,
  .eaRightColumnContent img:not(.inline):not(.ui-datepicker-trigger),
  .eaRightColumnContent video {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .panel .panel-content {
    min-height: 5.8rem;
  }
}

@media screen and (max-width: 560px) {
  .eaLeftColumnContent .video,
  .eaLeftColumnContent .vimeo,
  .eaLeftColumnContent .youtube,
  .eaRightColumnContent .video,
  .eaRightColumnContent .vimeo,
  .eaRightColumnContent .youtube {
    padding-bottom: 63.9225%;
  }
}

.eaErrorMessage,
.eaFormElementLabel,
.eaFormField,
.eaQuestionLabel,
.eaSenderMailTemplate,
.eaSwitchSubjectContainer,
.form-content,
.share-links,
[class$="FormFieldContainer"] {
  display: block;
  max-width: 28rem;
  margin-left: auto;
  margin-right: auto;
}

.button:not(.small),
.eaSubmitButton,
button:not(.small) {
  width: 98%;
  max-width: 26.5rem;
  margin-left: auto;
  margin-right: auto;
}

body,
table,
td {
  margin: 0;
}

html {
  font-size: 20px;
}

body {
  background-color: #fff;
  color: #191919;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.45em;
}

li,
ol,
p,
ul {
  margin-bottom: 1.45rem;
}

li {
  list-style-position: inside;
}

img,
video {
  max-width: 100%;
  height: auto;
}

.ea-clear {
  width: 100%;
  height: 1px;
  margin: 0 0 -1px;
}

h4,
h5,
h6 {
  margin-bottom: 1.45em;
}

.ea-hidden {
  display: none;
}

.horizontal .ea-hidden {
  visibility: hidden;
  display: inline;
}

.eaFullWidthFiller,
.eaLabelSpacer,
.eaLeftColumnFiller,
.eaRightColumnFiller,
br[clear="all"] {
  display: none;
}

a,
a:link,
a:visited {
  font-weight: 400;
  font-style: normal;
  outline: 0;
}

a:focus,
a:hover {
  font-style: normal;
  text-decoration: underline;
}

h1 {
  color: #d14900;
  font-size: 36px;
  line-height: 1.28888889em;
  margin-bottom: 0.64444444em;
  margin-top: 50px;
  font-family: DSariHeavy, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
}

.button,
a.button,
button,
h2,
h3,
h4,
h5,
input[type="button"],
input[type="reset"],
input[type="submit"],
legend {
  font-weight: 800;
  font-style: normal;
  font-family: DSariMedium, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media screen and (min-width: 780px) {
  h1 {
    font-size: 36px;
    line-height: 1.28888889em;
    margin-bottom: 0.32222222em;
  }
}

h2 {
  color: #6e2b61;
  font-size: 30px;
  margin-bottom: 0.96666667em;
}

@media screen and (min-width: 780px) {
  h2 {
    font-size: 30px;
    line-height: 1.16em;
    margin-bottom: 0.38666667em;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }
}

h3 {
  color: #4f758b;
  font-size: 24px;
  line-height: 1.16em;
  margin-bottom: 12px;
  margin-top: 80px;
}

legend {
  font-size: 1.25rem;
  line-height: 1.16em;
  margin-bottom: 1.16em;
  color: #191919;
}

.panel h1,
.panel h2,
.panel h3,
h5,
h6 {
  font-size: 1rem;
  line-height: 1.45em;
  color: #191919;
}

h4 {
  color: #191919;
  font-size: 20px;
  line-height: 1.45em;
}

h6 {
  font-family: DSariMedium, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.video,
.vimeo,
.youtube {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  background: 0 0;
  margin-bottom: 1.45rem;
}

.video embed,
.video iframe,
.video object,
.vimeo embed,
.vimeo iframe,
.vimeo object,
.youtube embed,
.youtube iframe,
.youtube object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

hr {
  background: url(../images/separator_black.png) left bottom no-repeat;
  height: 1.45rem;
}

h1~hr {
  background-position: center bottom;
  background-image: url(../images/separator_red.png);
}

hr h3+hr {
  margin-top: -1rem;
}

hr.black {
  background-image: url(../images/separator_black.png);
}

hr.red {
  background-image: url(../images/separator_red.png);
}

#header .button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0.725rem;
  margin-right: 2%;
}

@media screen and (max-width: 560px) {
  #header .button {
    padding: 0.725rem;
  }
  #banner.left-on-mobile,
  #banner.middle-on-mobile,
  #banner.right-on-mobile {
    overflow: hidden;
  }
  #banner.left-on-mobile img,
  #banner.middle-on-mobile img,
  #banner.right-on-mobile img {
    width: 200%;
    max-width: none;
  }
  #banner.left-on-mobile img {
    margin-left: -15%;
  }
  #banner.middle-on-mobile img {
    margin-left: -50%;
  }
  #banner.right-on-mobile img {
    margin-left: -85%;
  }
}

@media screen and (min-width: 780px) {
  hr {
    background-position: center bottom;
  }
  hr+h2 {
    margin-bottom: 2.175rem;
  }
  #header .button {
    margin-top: 1.0875rem;
    margin-right: 0;
  }
}

#main {
  padding-bottom: 4.35rem;
}

#banner {
  margin-bottom: 2rem;
}

.one-of-two {
  margin-bottom: 1.45rem;
}

@media screen and (min-width: 780px) {
  .one-of-two {
    display: inline-block;
    width: 49.5%;
    padding: 1.45rem;
    box-sizing: border-box;
    margin: 0;
  }
  #banner .one-of-two:nth-child(odd) {
    padding: 0 0.725rem 0 0;
  }
  #banner .one-of-two:nth-child(even) {
    padding: 0 0 0 0.725rem;
  }
}

.panel,
.panels {
  margin-left: auto;
  margin-right: auto;
}

.panels {
  width: 100%;
}

.rowsof2 {
  width: 88%;
  max-width: 40rem;
}

.rowsof3 {
  width: 100%;
}

.panels:after,
.panels:before {
  content: "";
  display: table;
}

.panel {
  max-width: 19.275rem;
  background-color: #efefef;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 1.45rem;
}

.panel h1,
.panel h2,
.panel h3 {
  margin-bottom: 1.45em;
  text-align: left;
}

.panel dl,
.panel ol,
.panel p,
.panel ul {
  font-size: 0.8rem;
  line-height: 1.3125em;
  margin-bottom: 1.8125em;
}

.panel dl,
.panel h1,
.panel h2,
.panel h3,
.panel h4,
.panel h5,
.panel h6,
.panel li,
.panel ol,
.panel p,
.panel ul {
  margin: 0.8rem 0;
}

.panel .panel-image {
  height: 0;
  padding-bottom: 60%;
  overflow: hidden;
}

.panel .panel-content {
  padding: 0 1rem 1.6rem;
}

.panel .button.small {
  width: 100%;
  margin-bottom: 0;
  background-image: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@media screen and (min-width: 780px) {
  .panel {
    max-width: none;
    float: left;
    margin: 1.45rem 2% 1.45rem 0;
  }
  .rowsof2 .panel {
    width: 48%;
    margin-left: 0;
  }
  .rowsof3 .panel {
    width: 32%;
  }
  .rowsof2 .panel:nth-child(odd) {
    margin-left: 0;
  }
  .rowsof2 .panel:nth-child(even),
  .rowsof3 .panel:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1150px) {
  #page.action .submitbutton:before,
  #page.action h1:after {
    content: "";
    width: 465px;
    height: 350px;
    display: block;
    position: absolute;
  }
  #page.action h1:after {
    right: 90%;
    margin-top: 5rem;
  }
  #page.action .submitbutton:before {
    left: 90%;
    margin-top: -20rem;
  }
}

#footer {
  font-size: 0.8rem;
  line-height: 1.8125em;
  margin-bottom: 1.8125em;
  padding-right: 12%;
  padding-top: 1.45rem;
  box-sizing: border-box;
}

#footer p {
  margin: 0.725rem 0;
}

#footer .menu {
  margin: 0;
}

#footer .menu li {
  list-style: none;
  margin-bottom: 0.725rem;
}

#footer .menu a {
  color: #191919;
  text-decoration: underline;
  padding: 0.725rem 0;
}

#footer .ms-logo {
  margin-top: -10px;
  margin-left: -15px;
}

#footer .fr-logo {
  float: right;
  margin-right: -23px;
  margin-bottom: 1.45rem;
}

@media screen and (min-width: 560px) {
  #footer .menu {
    margin-top: 1.0875rem;
  }
  #footer .menu li {
    display: inline-block;
    margin-right: 0.8rem;
  }
  #footer .menu li:first-child {
    margin-left: -1rem;
  }
  #footer .menu li:last-child {
    margin-right: -1rem;
  }
  #footer .menu a {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #footer .fr-logo {
    position: absolute;
    right: 0;
    bottom: 0.725rem;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 780px) {
  #footer {
    padding-right: 6%;
  }
  #footer .menu,
  #footer p {
    padding-left: 180px;
  }
  #footer .ms-logo {
    float: left;
  }
}

.eaFormField {
  position: relative;
  margin-bottom: 1.0875rem;
}

#SubmissionDiv {
  display: none;
}

.button,
a.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  font-size: 1.4rem;
  line-height: 1.03571429em;
  margin-bottom: 1.03571429em;
  text-transform: none;
  text-decoration: none;
  white-space: normal;
  text-align: center;
  display: block;
  background: url(../images/button_grunge_bg.png) right -600px bottom no-repeat #ef662f;
  padding: 1.8125rem 0.5em;
  color: #fff;
  border: none;
  box-sizing: border-box;
  border-radius: 0.5rem;
}

.panel-button a.button,
button.submitbutton {
  border: 5px solid #ef662f;
}

.button:focus,
.button:hover,
.ui-body-o a.button:focus,
.ui-body-o a.button:hover,
a.button:focus,
a.button:hover,
button:focus,
button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover {
  background-position: right bottom;
  color: #fff;
}

.panel-button a.button:active,
.panel-button a.button:hover,
button.submitbutton:active,
button.submitbutton:hover {
  background-color: #fff;
  color: #ef662f;
  border: 5px solid #ef662f;
}

.button:active,
a.button:active,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  color: #fff;
  opacity: 0.9;
}

a.button.small,
button.small {
  font-size: 1rem;
  line-height: 1.45em;
  margin-bottom: 1.45em;
  width: auto;
  display: inline-block;
  padding: 1.0875rem 1.6rem;
  border-radius: 0.25rem;
}

.eaMessageSignoffContainer,
.eaResetButton,
input.eaResetButton,
input.eaSubmitButton {
  display: none;
}

.submitbutton,
input.eaSubmitButton {
  margin-top: 2.175rem;
  margin-bottom: 2.175rem;
}

.selecter .selecter-selected,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
select,
textarea {
  font-size: 1rem;
  line-height: 1.45em;
  font-family: DSariMedium, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0;
  background-color: #fff;
  border: 0.1rem solid #191919;
  color: #191919;
  padding: 0.725rem 0.7rem;
  width: 100%;
  border-radius: 0.3rem;
  box-sizing: border-box;
}

.selecter-element {
  position: absolute;
  opacity: 0;
}

.eaQuestionSelectFormFieldContainer,
.selecter {
  position: relative;
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"] {
  font-family: DSariMedium, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-style: normal;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
  background-image: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.eaMessageSubjectContainer input,
.eaMessagecontent,
.eaSwitchSubjectContainer input,
.eaSwitchTemplateContainer input,
textarea {
  font-size: 100%;
}

.eaMessageContent,
textarea {
  min-height: 15em;
}

.eaSenderMailTemplate,
.eaSwitchSubjectContainer {
  margin-bottom: 1.0875rem;
}

.eaFormElementLabel,
.eaQuestionLabel,
.picker .picker-label,
label {
  font-size: 1rem;
  line-height: 1.45em;
  font-family: DSariMedium, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  display: block;
  margin-bottom: 0.3625rem;
  color: #191919;
}

.eaErrorMessage,
.picker .picker-label {
  font-weight: 800;
  font-family: DSariMedium, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
}

.eaQuestionLabel {
  margin-bottom: 0.725rem;
}

.eaMandatoryFieldMarker {
  color: #d9362f;
}

input[type="checkbox"] {
  width: auto;
  margin-right: 5px;
}

.eaFormCheckbox,
.eaFormRadio,
.eaQuestionCheckboxFormFieldContainer,
.eaQuestionRadioFormFieldContainer {
  line-height: 0;
  margin-top: 1.0875rem;
  margin-bottom: 1.0875rem;
}

.eaFormCheckbox,
.eaFormRadio,
.eaQuestionCheckbox,
.eaQuestionRadio {
  display: block;
  margin-bottom: 0.3625rem;
}

.eaFormCheckbox input,
.eaFormRadio input,
.eaQuestionCheckbox input,
.eaQuestionRadio input {
  float: left;
  margin-right: 5px;
  margin-top: 1px;
  height: 1.45rem;
}

.eaFormCheckbox label,
.eaFormRadio label,
.eaQuestionCheckbox label,
.eaQuestionRadio label {
  margin-left: 24px;
}

.picker {
  margin-bottom: 0;
}

.picker .picker-label {
  float: none;
  display: block;
  margin-left: 2.175rem;
}

.picker .picker-handle {
  background-color: #fff;
  height: 1.45rem;
  width: 1.45rem;
  border: 0.1rem solid #191919;
}

.picker.focus .picker-label,
.picker:focus .picker-label,
.picker:hover .picker-label {
  color: #191919;
}

.picker.focus .picker-handle,
.picker:focus .picker-handle,
.picker:hover .picker-handle {
  border-color: #191919;
}

.picker.picker-radio .picker-handle {
  border-radius: 50%;
}

.picker.picker-radio .picker-flag {
  background-color: transparent;
  width: 11px;
  height: 11px;
  margin: 9px;
  border-radius: 50%;
}

.picker.picker-radio.checked .picker-flag,
.picker.picker-radio.checked:hover .picker-flag {
  background-color: #191919;
}

.picker.picker-checkbox .picker-handle {
  border-radius: 0.3rem;
}

.picker.picker-checkbox.checked .picker-flag {
  background: url(../images/checkbox_tick.png) center center no-repeat;
}

.picker.picker-checkbox.checked .picker-flag:before {
  content: "✓";
  font-size: 150%;
  line-height: 1.45rem;
  padding: 3px;
  color: transparent;
}

div[id^="Marketing_permission"] .eaQuestionRadioFormFieldContainer:after,
div[id^="Marketing_permission"] .eaQuestionRadioFormFieldContainer:before {
  content: "";
  display: table;
}

div[id^="Marketing_permission"] .eaQuestionRadio {
  margin: 0;
}

div[id^="Marketing_permission"] .picker-radio {
  float: left;
  margin-right: 1.5rem;
}

.selecter {
  max-width: 100%;
  display: block;
  margin: 10px 0;
  z-index: 1;
}

.selecter .selecter-item,
.selecter .selecter-options {
  box-sizing: border-box;
}

.selecter .selecter-selected {
  background: #fff;
  padding-right: 2.5rem;
  min-height: 2.9rem;
  cursor: pointer;
  display: block;
  margin: 0;
  overflow: hidden;
  position: relative;
  text-overflow: clip;
  z-index: 49;
}

.selecter .selecter-selected:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 0.4rem solid transparent;
  border-top: 0.6rem solid #191919;
  margin-top: -0.3rem;
  position: absolute;
  top: 50%;
  right: 1rem;
}

.selecter.focus .selecter-selected,
.selecter.open .selecter-selected {
  border-radius: 0.3rem 0.3rem 0 0;
}

.selecter .selecter-options {
  border: 0.1rem solid #191919;
  border-top: none;
  background-color: #fefefe;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  display: none;
  left: 0;
  margin: 0;
  max-height: 260px;
  overflow: auto;
  overflow-x: hidden;
  padding: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 50;
}

.selecter .selecter-item {
  background: #fff;
  border-bottom: 1px solid #e3e3e3;
  cursor: pointer;
  display: block;
  margin: 0;
  overflow: hidden;
  padding: 8px 10px;
  text-overflow: ellipsis;
  width: 100%;
  font-size: 1rem;
  color: #191919;
}

.selecter .selecter-item:first-child {
  border-radius: 0;
}

.selecter .selecter-item.selected {
  background: #f9f9f9;
}

@media screen and (min-width: 980px) {
  .selecter .selecter-item.selected:hover,
  .selecter .selecter-item:hover {
    background-color: #f3f3f3;
  }
}

@media screen and (min-width: 560px) {
  .eaTripleSelectfield,
  .eaTripleSelectfield~.selecter {
    display: inline-block;
    width: 30.3%;
  }
}

.eaErrorMessageHide,
.eaValidationIcon {
  display: none;
}

.eaAjaxErrorMessageContainer {
  text-align: left;
  margin-left: 20%;
  color: #d9362f;
}

.eaErrorMessage {
  color: #fff;
  background-color: #ef662f;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.validationError .selecter .selecter-selected,
.validationError input[type="email"],
.validationError input[type="number"],
.validationError input[type="password"],
.validationError input[type="search"],
.validationError input[type="tel"],
.validationError input[type="text"],
.validationError input[type="url"],
.validationError select,
.validationError textarea {
  border-color: #ef662f;
}

.validationError .eaErrorMessage {
  padding: 0.4625rem 0.7rem 0.3625rem;
  margin: -0.1rem 0.1rem 0;
}

.eaFieldErrorHighlightColor {
  background-color: #ef662f;
  padding: 10px;
  color: #fff;
  margin-bottom: 10px;
}

.eaValidationIconImg {
  padding-top: 0;
  margin-top: 0;
  width: 20px;
  height: 20px;
}

.ea-error-block {
  color: #d9362f;
  margin: 1em 0;
  padding: 0 10px;
  border: 1px dashed #ef662f;
  border-radius: 4px;
}

.ea-error-block ol,
.ea-error-block p,
.ea-error-block ul {
  font-family: DSariMedium, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #d9362f;
  padding: 0;
  list-style-type: none;
}

#eaerrors {
  padding: 0.725rem 3%;
  margin-bottom: 1.45rem;
}

#eaerrors a {
  font-family: DSariMedium, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #fff;
  text-decoration: underline;
}

.ea-loading {
  position: absolute;
  width: 30%;
  top: 200px;
  left: 35%;
  z-index: 200;
  color: #191919;
  font-family: DSariMedium, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding: 10px 0;
  background-color: #fff;
  border: 1px solid #191919;
  border-radius: 10px;
  box-shadow: 0 0 10px #666;
}

.ea-loading-spinner {
  width: 16px;
  height: 16px;
  background-image: url(https://e-activist.com/ea-demo/images/loading.gif);
  margin: 5px auto;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
}

ul.share-links {
  max-width: 26.5em;
}

ul.share-links li {
  list-style: none;
  margin-bottom: 0.725rem;
}

ul.share-links .button {
  position: relative;
  margin-bottom: 0;
  text-align: left;
  padding-left: 1.5rem;
}

@media screen and (max-width: 560px) {
  ul.share-links .button {
    font-size: 1rem;
    line-height: 1.45em;
    width: auto;
    padding: 1.0875rem 1.6rem;
    margin-bottom: 0;
    border-radius: 0.25rem;
  }
}

ul.share-links i,
ul.share-links span.icon {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 65px;
  height: 65px;
  background: url(../images/share_sprite.png);
}

ul.share-links i+span,
ul.share-links span.icon+span {
  padding-left: 2.8rem;
  display: inline-block;
}

ul.share-links .email i,
ul.share-links .email span.icon {
  background-position: 5px -262px;
}

@media screen and (min-width: 560px) {
  ul.share-links .email i,
  ul.share-links .email span.icon {
    background-position: 5px -247px;
  }
}

ul.share-links .facebook i,
ul.share-links .facebook span.icon {
  background-position: 5px -22px;
}

@media screen and (min-width: 560px) {
  ul.share-links .facebook i,
  ul.share-links .facebook span.icon {
    background-position: 5px -8px;
  }
}

ul.share-links .twitter i,
ul.share-links .twitter span.icon {
  background-position: 5px -143px;
}

@media screen and (min-width: 560px) {
  ul.share-links .twitter i,
  ul.share-links .twitter span.icon {
    background-position: 5px -129px;
  }
}

a.xmas-button {
  font-family: DSariMedium, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 400 !important;
  background-color: #6b2b5f !important;
  text-transform: none;
}

a.xmas-button-top {
  margin-top: 2.25rem !important;
}

a.xmas-button-middle {
  width: 100% !important;
  max-width: 300px !important;
}

@media screen and (min-width: 641px) {
  .xmas-button-middle-container {
    background-image: url(https://joefhall.github.io/mssociety-templates-new/images/xmas-snowflakes.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
}

div.xmas-main {
  background-image: url(https://joefhall.github.io/mssociety-templates-new/images/xmas-header.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 0 !important;
  width: 80% !important;
  max-width: 100% !important;
}

#xmas-banner-image-holder {
  text-align: center;
}

#xmas-banner-image {
  margin-top: 20px;
  margin-bottom: 40px;
}

h1.xmas-h1 {
  font-family: DSariMedium, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1rem;
  text-align: left;
}

@media only screen and (min-width: 641px) {
  div.xmas-main {
    padding-left: 20%;
    padding-right: 20%;
    width: 60% !important;
  }
  h1.xmas-h1 {
    font-size: 2rem;
  }
}

p.xmas-top-copy {
  font-size: 16px;
}

div.xmas-video {
  height: 10.5vw !important;
  margin-left: -12%;
  margin-right: -12%;
}

@media only screen and (min-width: 641px) {
  p.xmas-top-copy {
    font-size: 20px;
  }
  div.xmas-video {
    height: 1.3vw !important;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 48% !important;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 7px solid #f7fafc;
    -webkit-box-shadow: 2px 2px 5px 0 #bababa;
    -moz-box-shadow: 2px 2px 5px 0 #bababa;
    box-shadow: 2px 2px 5px 0 #bababa;
  }
}

@media screen and (min-width: 780px) {
  .xmas-panel {
    max-width: none;
    float: left;
    margin: 1.45rem 2% 30px 0;
  }
  .rowsof3 .xmas-panel {
    width: 32%;
  }
  .rowsof3 .xmas-panel:nth-child(3n) {
    margin-right: 0;
  }
}

.xmas-panel-content {
  padding-left: 15%;
  padding-right: 15%;
}

.xmas-panel-content p {
  font-size: 16px !important;
  height: auto !important;
}

.xmas-researcher-image {
  text-align: center;
}

.xmas-researcher-rollover {
  display: none;
}

.xmas-researcher-rollover-text {
  position: relative;
  padding: 15% 20% 10%;
  text-align: left;
  color: #6b2b5f;
  font-size: 10px;
  line-height: 14px;
}

.xmas-researcher-rollover-text p {
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .xmas-researcher-rollover-text {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (min-width: 1500px) {
  .xmas-researcher-rollover-text {
    font-size: 20px;
    line-height: 24px;
  }
}

h3.xmas-h3 {
  text-align: left;
  text-transform: none;
  color: #6b2b5f;
}

#xmas-image-banner-footer {
  min-height: 120px;
  background-image: url(https://joefhall.github.io/mssociety-templates-new/images/xmas-footer.png);
  background-size: 200% auto;
  background-position: center bottom;
  background-repeat: no-repeat no-repeat;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
}

@media only screen and (min-width: 641px) {
  #xmas-image-banner-footer {
    min-height: 100px;
    background-size: 100% auto;
  }
}

@media only screen and (min-width: 1025px) {
  #xmas-image-banner-footer {
    min-height: 150px;
  }
}

@media only screen and (min-width: 1601px) {
  #xmas-image-banner-footer {
    min-height: 200px;
  }
}

.xmas-footer {
  background-color: #f0f0f0;
  width: 100% !important;
  max-width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 10% !important;
  padding-right: 10% !important;
}

@media only screen and (max-width: 560px) {
  .xmas-fr-logo {
    background-color: #fff !important;
    display: block;
    width: 100%;
    height: 100px;
    padding-top: 20px;
    margin-left: -15%;
    margin-right: -15%;
    padding-right: 40%;
  }
}

@media only screen and (min-width: 561px) {
  .xmas-fr-logo {
    position: relative;
  }
}

input[type="checkbox"]:not(.pbo__input__checkbox) {
  -webkit-appearance: initial;
  appearance: initial;
  position: relative;
  z-index: 100;
  margin-bottom: 5px;
  margin-right: 5px;
  border: 1px solid #4a4a4a;
  border-radius: 5px;
  background: #fff;
  line-height: 0.875rem;
  height: 20px;
  width: 20px;
}

input[type="radio"]:not(.pbo__input__checkbox) {
  height: 27px;
  opacity: 0;
  position: absolute;
  width: 27px;
}

input[type="radio"]+label::before {
  background-image: url(https://joefhall.github.io/mssociety-templates-new/images/radio-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 27px;
  content: '';
  display: inline-block;
  height: 27px;
  margin-right: 5px;
  vertical-align: top;
  width: 27px;
}

input[type="radio"]:checked+label::before {
  background-image: url(https://joefhall.github.io/mssociety-templates-new/images/radio-button-checked.svg);
}

#EN__RootElement input[type="radio"] {
  -webkit-appearance: radio;
  appearance: radio;
}

#EN__RootElement input[type="checkbox"] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

input[type="checkbox"]:not(.pbo__input__checkbox):checked:after {
  content: "✓";
  color: #d14900;
  font-family: SSStandard;
  font-size: 10.4px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  top: 60%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

input[type="checkbox"]~label,
input[type="radio"]~label {
  font-size: 20px;
}

.en__field--checkbox label {
  display: inline;
}

.en__field--withOther input[type="radio"]~.en__field__label,
.en__field__label {
  width: 100% !important;
}

.en__field__input--other {
  margin: -1px 0 0 0 !important;
}

input[type="radio"]~.en__field__label {
  width: auto !important;
}